{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="/static/end.css">

</head>
<body>
    <div class="header">
        <img src="{% static 'heading.jpg' %}" alt="">
    </div>
    <h1>RESULTS  </h1>
    <table>
        <tr>
            <th>NAME </th>
            <th>ROLL NO </th>
            <th>SCORE </th>
            <th>STATUS </th>
        </tr>
        {% for values in data %}
        <tr>
            <td>{{ values.sname }}</td>
            <td>{{ values.roll }}</td>
            <td>{{ values.score }}</td>
            <td>{{ values.status }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <button><a href="index">PLAY AGAIN?</a></button>
    <br><br>
    <button><a href="index">HOME</a></button>
</body>
</html>